.headers {
  box-sizing: border-box;
  font-family: "Courier New", "Tahoma", monospace;
  font-size: 100px;
  background-color: #E0FFFF;
  margin: 8px;
  text-align: center;
}

.ingredients,
.steps {
  box-sizing: border-box;
  padding: 10px;
}

.images {
  display: block;
  margin: 0 auto;
}

.recipes {
  font-family: "Tahoma", monospace;
  font-size: 50px;
  background-color: #0D98BA;
  color: #F0F8FF;
}

.titles {
  margin: 10px 8px;
  font-family: "Verdana";
  font-size: 75px;
  font-weight: 200;
  background-color: #007BA7;
  color: #F0F8FF;
}

.texts {
  font-size: 20px;
}
